/* Stylesheet for SEK form manager */
* {
	box-sizing: border-box;

}
body{
	font-family: Arial;
}

*{white-space:line}

table{
	width:100%;
	border:0.5;
	padding:3px;
	border-collapse:collapse;
	
}
.tk{
	height:20px;
	background-color: orange;
	color:white;
	border-collapse: collapse;
	
    
}

textarea{
	width: 100%;
	min-height: 100px;
	padding: 5px;
	box-sizing:border-box;
	border-width:2px;
	border-style:dotted;
	border-color:orange;
}
.mittlererinput{
	width:70%;
}

.breiterinput{
	font-family:arial;
	font-size:15px;
	width:100%;
	heigt:20px;
}

.hsb{
	width:250px;
	background-color: orange;
	color:white;
	font-size:20px;
	padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}

.knopf{
	height:20px;
	width:100px;
	background-color:white;
	color:black;
	border-radius:4px;
	box-shadow:none;
	border:1px solid lightgray;
	
}


button{
	min-width:100px;
	 
	font-family:arial;
	
    
    
    
    cursor: pointer;
}
.menubutton{
	width:50%;
	
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content li{
	display:inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.menue li {
	display:inline-block;
	margin:5px;
	
}
.menue ul{
	background-color:lightblue;
	padding: 16px;
    font-size: 16px;
}

nav a{
	text-decoration:none;
	color:black;
	padding: 16px;
    font-size: 16px;
}

.menue hr{
	color:orange;
	height:2px;
}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {    
  color: white; 
  background-color: orange;
}